<!--&lt;!&ndash; ***** Welcome Area Start ***** &ndash;&gt;-->
<!--<section class="welcome-area">-->
<!--  &lt;!&ndash; Welcome Slides &ndash;&gt;-->
<!--  <div class="welcome-slides owl-carousel">-->
<!--    &lt;!&ndash; Single Welcome Slide &ndash;&gt;-->
<!--    <div class="welcome-welcome-slide bg-img bg-overlay" style="background-image: url(../../../assets/img/bg-img/1.jpg);">-->
<!--      <div class="container h-100">-->
<!--        <div class="row h-100 align-items-centera">-->
<!--          <div class="col-12">-->
<!--            &lt;!&ndash; Welcome Text &ndash;&gt;-->
<!--            <div class="welcome-text">-->
<!--              <h2 data-animation="fadeInUp" data-delay="100ms">Subscribe Today</h2>-->
<!--              <h5 data-animation="fadeInUp" data-delay="300ms">Please schedule a podcast post, to make it visible here.</h5>-->
<!--              <div class="welcome-btn-group">-->
<!--                <a href="#" class="btn poca-btn m-2 ml-0 active" data-animation="fadeInUp" data-delay="500ms">Subscribe with iTunes</a>-->
<!--                <a href="#" class="btn poca-btn btn-2 m-2" data-animation="fadeInUp" data-delay="700ms">Subscribe with RSS</a>-->
<!--              </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Welcome Music Area &ndash;&gt;-->
<!--            <div class="poca-music-area mt-100 d-flex align-items-center flex-wrap" data-animation="fadeInUp" data-delay="900ms">-->
<!--              <div class="poca-music-thumbnail">-->
<!--                <img src="../../../assets/img/bg-img/4.jpg" alt="">-->
<!--              </div>-->
<!--              <div class="poca-music-content">-->
<!--                <span class="music-published-date">December 9, 2018</span>-->
<!--                <h2>Episode 203 - The Last Blockbuster</h2>-->
<!--                <div class="music-meta-data">-->
<!--                  <p>By <a href="#" class="music-author">Admin</a> | <a href="#" class="music-catagory">Tutorials</a> | <a href="#" class="music-duration">00:02:56</a></p>-->
<!--                </div>-->
<!--                &lt;!&ndash; Music Player &ndash;&gt;-->
<!--                <div class="poca-music-player">-->
<!--                  <audio preload="auto" controls>-->
<!--                    <source src="../../../assets/audio/dummy-audio.mp3">-->
<!--                  </audio>-->
<!--                </div>-->
<!--                &lt;!&ndash; Likes, Share & Download &ndash;&gt;-->
<!--                <div class="likes-share-download d-flex align-items-center justify-content-between">-->
<!--                  <a href="#"><i class="fa fa-heart" aria-hidden="true"></i> Like (29)</a>-->
<!--                  <div>-->
<!--                    <a href="#" class="mr-4"><i class="fa fa-share-alt" aria-hidden="true"></i> Share(04)</a>-->
<!--                    <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download (12)</a>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; Single Welcome Slide &ndash;&gt;-->
<!--    <div class="welcome-welcome-slide bg-img bg-overlay" style="background-color: white">-->
<!--      <div class="container h-100">-->
<!--        <div class="row h-100 align-items-center">-->
<!--          <div class="col-12">-->
<!--            &lt;!&ndash; Welcome Text &ndash;&gt;-->
<!--            <div class="welcome-text">-->
<!--              <h2 data-animation="fadeInUp" data-delay="100ms">Listen Now</h2>-->
<!--              <h5 data-animation="fadeInUp" data-delay="300ms">Please schedule a podcast post, to make it visible here.</h5>-->
<!--              <div class="welcome-btn-group">-->
<!--                <a href="#" class="btn poca-btn m-2 ml-0 active" data-animation="fadeInUp" data-delay="500ms">Subscribe with iTunes</a>-->
<!--                <a href="#" class="btn poca-btn btn-2 m-2" data-animation="fadeInUp" data-delay="700ms">Subscribe with RSS</a>-->
<!--              </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Welcome Music Area &ndash;&gt;-->
<!--            <div class="poca-music-area mt-100 d-flex align-items-center flex-wrap" data-animation="fadeInUp" data-delay="900ms">-->
<!--              <div class="poca-music-thumbnail">-->
<!--                <img src="../../../assets/img/bg-img/4.jpg" alt="">-->
<!--              </div>-->
<!--              <div class="poca-music-content">-->
<!--                <span class="music-published-date">December 8, 2018</span>-->
<!--                <h2>Episode 202 - The Last Blockbuster</h2>-->
<!--                <div class="music-meta-data">-->
<!--                  <p>By <a href="#" class="music-author">Admin</a> | <a href="#" class="music-catagory">Tutorials</a> | <a href="#" class="music-duration">00:02:56</a></p>-->
<!--                </div>-->
<!--                &lt;!&ndash; Music Player &ndash;&gt;-->
<!--                <div class="poca-music-player">-->
<!--                  <audio preload="auto" controls>-->
<!--                    <source src="../../../assets/audio/dummy-audio.mp3">-->
<!--                  </audio>-->
<!--                </div>-->
<!--                &lt;!&ndash; Likes, Share & Download &ndash;&gt;-->
<!--                <div class="likes-share-download d-flex align-items-center justify-content-between">-->
<!--                  <a href="#"><i class="fa fa-heart" aria-hidden="true"></i> Like (29)</a>-->
<!--                  <div>-->
<!--                    <a href="#" class="mr-4"><i class="fa fa-share-alt" aria-hidden="true"></i> Share(04)</a>-->
<!--                    <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download (12)</a>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; Single Welcome Slide &ndash;&gt;-->
<!--    <div class="welcome-welcome-slide bg-img bg-overlay" style="background-image: url('../../../assets/img/bg-img/3.jpg');">-->
<!--      <div class="container h-100">-->
<!--        <div class="row h-100 align-items-center">-->
<!--          <div class="col-12">-->
<!--            &lt;!&ndash; Welcome Text &ndash;&gt;-->
<!--            <div class="welcome-text">-->
<!--              <h2 data-animation="fadeInUp" data-delay="100ms">Discover Today</h2>-->
<!--              <h5 data-animation="fadeInUp" data-delay="300ms">Please schedule a podcast post, to make it visible here.</h5>-->
<!--              <div class="welcome-btn-group">-->
<!--                <a href="#" class="btn poca-btn m-2 ml-0 active" data-animation="fadeInUp" data-delay="500ms">Subscribe with iTunes</a>-->
<!--                <a href="#" class="btn poca-btn btn-2 m-2" data-animation="fadeInUp" data-delay="700ms">Subscribe with RSS</a>-->
<!--              </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Welcome Music Area &ndash;&gt;-->
<!--            <div class="poca-music-area mt-100 d-flex align-items-center flex-wrap" data-animation="fadeInUp" data-delay="900ms">-->
<!--              <div class="poca-music-thumbnail">-->
<!--                <img src="../../../assets/img/bg-img/4.jpg" alt="">-->
<!--              </div>-->
<!--              <div class="poca-music-content">-->
<!--                <span class="music-published-date">December 7, 2018</span>-->
<!--                <h2>Episode 201 - The Last Blockbuster</h2>-->
<!--                <div class="music-meta-data">-->
<!--                  <p>By <a href="#" class="music-author">Admin</a> | <a href="#" class="music-catagory">Tutorials</a> | <a href="#" class="music-duration">00:02:56</a></p>-->
<!--                </div>-->
<!--                &lt;!&ndash; Music Player &ndash;&gt;-->
<!--                <div class="poca-music-player">-->
<!--                  <audio preload="auto" controls>-->
<!--                    <source src="../../../assets/audio/dummy-audio.mp3">-->
<!--                  </audio>-->
<!--                </div>-->
<!--                &lt;!&ndash; Likes, Share & Download &ndash;&gt;-->
<!--                <div class="likes-share-download d-flex align-items-center justify-content-between">-->
<!--                  <a href="#"><i class="fa fa-heart" aria-hidden="true"></i> Like (29)</a>-->
<!--                  <div>-->
<!--                    <a href="#" class="mr-4"><i class="fa fa-share-alt" aria-hidden="true"></i> Share(04)</a>-->
<!--                    <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download (12)</a>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<!-- ***** Welcome Area End *****-->

<div class="breadcumb-area bg-img bg-overlay" style="background-image: url(../../../assets/img/bg-img/2.jpg); margin-bottom: 50px">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <h2 class="title mt-70" style="font-family: 'Comic Sans MS'">Relax</h2>
      </div>
    </div>
  </div>
</div>
