
<welcome-area></welcome-area>
<div class="container" style="text-align: center; font-size: 40px;">
     <b>
  ADD NEW SONG
     </b>
</div>
<div class="main-container" style="margin-top: 50px">
  <div class="row section">
    <div class="col-xl-8 col-md-10 mx-auto">
      <div class="card">
        <div class="card-header">
          <h6 class="card-title mb-0">Add Music</h6>
        </div>
        <div class="card-body">
          <form [formGroup] = "songForm"  class="ng-untouched ng-pristine ng-valid"  (ngSubmit)="onSubmit()">
            <div class="form-row form-group">
              <label class="col-lg-3 text-md-right col-form-label" for="name" >Song Name</label>
              <div class="col-lg-9">
                <input class="form-control" id="name" type="text" formControlName="name">
                <div *ngIf="songForm.get('name').invalid && songForm.get('name').touched" style="color: red">
                  Name is required and min length is 1 and max length is 100
                </div>
              </div>

            </div>
            <div class="form-row form-group">
              <label class="col-lg-3 text-md-right col-form-label" for="singer" >Singer </label>
              <div class="col-lg-9">
                <input class="form-control" id="singer" type="text" formControlName="singer">
                <div *ngIf="songForm.get('singer').invalid && songForm.get('singer').touched" style="color: red">
                  Singer is required and min length is 1
                </div>
              </div>

            </div>
            <div class="form-row form-group">
              <label class="col-lg-3 text-md-right col-form-label" for="author">Author</label>
              <div class="col-lg-9">
                <input class="form-control" id="author" type="text" formControlName="author">
                <div *ngIf="songForm.get('author').invalid && songForm.get('author').touched" style="color: red">
                  Author is required and min length is 1
                </div>
              </div>

            </div>
            <div class="form-row form-group">
              <label class="col-lg-3 text-md-right col-form-label" >Song Cover Image</label>
              <div class="col-lg-9">
                <input type="file" (change)="onchangeImage($event)">
              </div>
            </div>
            <div class="form-row form-group">
              <label class="col-lg-3 text-md-right col-form-label">Song File</label>
              <div class="col-lg-9">
                <input type="file" (change)="onchangeMusic($event)">
              </div>
            </div>
            <div class="form-row form-group">
              <label class="col-lg-3 text-md-right col-form-label">Lyrics Song</label>
              <div class="col-lg-9">
                <ckeditor formControlName="lyrics"></ckeditor>
                <div *ngIf="songForm.get('lyrics').invalid && songForm.get('lyrics').touched" style="color: red">
                  Lyrics is required and min length is 10
                </div>
              </div>
            </div>
            <div class="form-row form-group" formGroupName="style">
              <label class="col-lg-3 text-md-right col-form-label">Style</label>
              <select formControlName="id" style="color: black;height: 30px" class="col-lg-9">
                <option value="" [disabled]="true">Choose style</option>
                <option *ngFor="let style of styleList" value="{{style.id}}">{{style.name}}</option>
              </select>
            </div>
            <div class="row">
              <div class="col-lg-3"></div>
              <div class="col-lg-9 btn-inline">
                <button class="btn btn-outline-secondary" type="button" routerLink="/song">Cancel</button>
                &nbsp;
                <button class="btn btn-outline-success" [disabled]="songForm.invalid" type="submit" >Save Song</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="../../../assets/sweetalert2/sweetalert2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.js"></script>





