<!--<script src="update-password.component.ts"></script>-->
<welcome-area></welcome-area>
<div class="container" style="text-align: center; font-size: 40px;">
  <b>
    UPDATE PASSWORD
  </b>
</div>
<div class="container" style="text-align: center; font-size: 40px;">
</div>
<div class="main-container" style="margin-top: 100px">
  <div class="row section">
    <div class="col-xl-8 col-md-10 mx-auto">
      <div class="card">
        <div class="card-header">
          <h6 class="card-title mb-0" style="text-align: center">Edit User</h6>
        </div>
        <div class="card-body">
<!--          <form [formGroup] = "updatePasswordForm" (ngSubmit)="onSubmit()" class="ng-untouched ng-pristine ng-valid" >-->
            <div class="form-row form-group">
              <label class="col-lg-2 text-md-right col-form-label" for="firstName" >Old password</label>
              <div class="col-lg-9">
                <input class="form-control" id="firstName" type="password" [(ngModel)]="oldPassword">
<!--                <div>-->
<!--                  First Name is required and min length is 1-->
<!--                </div>-->
              </div>
            </div>
            <div class="form-row form-group">
              <label class="col-lg-2 text-md-right col-form-label" for="lastName" >New password </label>
              <div class="col-lg-9">
                <input class="form-control" id="lastName" type="password" [(ngModel)]="newPassword">
<!--                <div>-->
<!--                  Last Name is required and min length is 1-->
<!--                </div>-->
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3"></div>
              <div class="col-lg-9 btn-inline">
                <button class="btn btn-outline-secondary" type="button">Cancel</button>
                &nbsp;
                <button class="btn btn-outline-success" type="submit" (click)="onSubmit()">Update user</button>
              </div>
            </div>
          <div *ngIf="isLoginFailed" style="color: red; padding-left: 55px; font-size: 17px">
            <div>Update failed!. Your password is not match. Please try again</div>
          </div>
          <div *ngIf="isLoggedIn" style="color: green; padding-left: 55px; font-size: 17px">
            <div>Successfully</div>
          </div>
<!--          </form>-->
        </div>
      </div>
    </div>
  </div>
</div>
