<welcome-area></welcome-area>
<div class="container" style="text-align: center; font-size: 40px;">
  <b>
    UPDATE PROFILE
  </b>
</div>
<div class="container" style="text-align: center; font-size: 40px;">
</div>
<div class="main-container" style="margin-top: 100px">
  <div class="row section">
    <div class="col-xl-8 col-md-10 mx-auto">
      <div class="card">
        <div class="card-header">
          <h6 class="card-title mb-0" style="text-align: center">Edit User</h6>
        </div>
        <div class="card-body">
          <form [formGroup] = "profileForm"  class="ng-untouched ng-pristine ng-valid" (ngSubmit)="updateUser()">

            <div class="form-row form-group">
              <label class="col-lg-2 text-md-right col-form-label" for="firstName" >First Name</label>
              <div class="col-lg-9">
                <input class="form-control" id="firstName" type="text" formControlName="firstName">
                <div *ngIf="profileForm.get('firstName').invalid && profileForm.get('firstName').touched" style="color: #ff0000">
                  First Name is required and min length is 1
                </div>
              </div>
            </div>
            <div class="form-row form-group">
              <label class="col-lg-2 text-md-right col-form-label" for="lastName" >Last Name </label>
              <div class="col-lg-9">
                <input class="form-control" id="lastName" type="text" formControlName="lastName">
<!--                <div *ngIf="profileForm.get('lastName').invalid && profileForm.get('lastName').touched" style="color: red">-->
<!--                  Last Name is required and min length is 1-->
<!--                </div>-->
              </div>
            </div>

            <div class="form-row form-group">
              <label class="col-lg-2 text-md-right col-form-label" for="email">Email</label>
              <div class="col-lg-9">
                <input class="form-control" id="email" type="text" formControlName="email">
                <div *ngIf="profileForm.get('email').invalid && profileForm.get('email').touched" style="color: red">
                  Email is required
                </div>
              </div>
            </div>


            <div class="form-row form-group">
              <label class="col-lg-2 text-md-right col-form-label" for="phoneNumber">Phone Number</label>
              <div class="col-lg-9">
                <input class="form-control" id="phoneNumber" type="text" formControlName="phoneNumber">
                <div *ngIf="profileForm.get('phoneNumber').invalid && profileForm.get('phoneNumber').touched" style="color: red">
                  Phone is required and min length is 5
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-3"></div>
              <div class="col-lg-9 btn-inline">
                <button class="btn btn-outline-secondary" type="button">Cancel</button>
                &nbsp;
                <button class="btn btn-outline-success" type="submit" >Update user</button>
              </div>
            </div>
            <div *ngIf="isUpdate" style="color: green">
              successfully!
            </div>
            <div *ngIf="isUpdateFailed" style="color: red">
              update failed. Please try again!
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
