<section class="featured-guests-area">
  <div class="container">
    <div class="row">
      <!-- Section Heading -->
      <div class="col-12">
        <div class="section-heading text-center">
          <h2>Featured Singer</h2>
          <div class="line"></div>
        </div>
      </div>
    </div>

    <div class="row justify-content-around">
      <!-- Single Featured Guest -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="single-featured-guest mb-80">
          <img src="../../../assets/img/bg-img/25.jpg" alt="">
          <div class="guest-info">
            <h5>Alfred Day</h5>
            <span>PRODUCER</span>
          </div>
        </div>
      </div>

      <!-- Single Featured Guest -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="single-featured-guest mb-80">
          <img src="../../../assets/img/bg-img/26.jpg" alt="">
          <div class="guest-info">
            <h5>Jayden White</h5>
            <span>DRUMMER</span>
          </div>
        </div>
      </div>

      <!-- Single Featured Guest -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="single-featured-guest mb-80">
          <img src="../../../assets/img/bg-img/27.jpg" alt="">
          <div class="guest-info">
            <h5>Vincent Reid</h5>
            <span>ENTREPRENEUR</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
